.listings-uploaded-files {
  display: table;
  .listings-uploaded-file {
    line-height: 2em;
    font-style: italic;
    margin-bottom: 1em;
    display: block;
    .listings-uploaded-file-preview {
      img {
        height: 64px;
        margin: 0;
        vertical-align: top;
      }
      a {
        line-height: 64px;
        display: inline-block;
        padding: 0 0 0 1em;
      }
    }
    .listings-uploaded-file-name {
      display: block;
    }
  }
}

.listings-term-checklist {
  list-style: none outside;
  max-height: 200px;
  overflow: auto;
  margin: 0;
  li {
    list-style: none outside;
    margin: 0;
    display: block;
    float: none;
    label {
      width: auto;
      float: none;
    }
    li {
      margin: 0 0 0 2em;
    }
  }
}