@font-face {
  font-family: 'listings';
  src: url('../font/listings.eot?4963673');
  src: url('../font/listings.eot?4963673#iefix') format('embedded-opentype'),
       url('../font/listings.woff?4963673') format('woff'),
       url('../font/listings.ttf?4963673') format('truetype'),
       url('../font/listings.svg?4963673#listings') format('svg');
  font-weight: normal;
  font-style: normal;
}

.listings-icon {
  font-family: "listings" !important;
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
}