.widefat {
  th.column-listing_image {
    width: 50px;
  }

  tr.type-listing {
    min-height: 70px;
  }

  td.column-listing_image {
    width: 50px;

    img {
      width: 48px;
      height: 48px;
      border: 1px solid #fff;
    }
  }
}